.s-intro {
  @include _1440 {
    padding: torem(120) 0 0;
  }

  padding: torem(60) 0 0;
  color: var(--color-second);
  background: var(--color-main);

  &__container {
    @include _1440 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: torem(60);
    }

    transition: 0.3s;
  }

  &__main {
    @include _768 {
      padding: var(--a-padding-x8);
    }
    @include _1440 {
      order: 2;
    }

    position: relative;
    padding: var(--a-padding-x4);
    color: var(--color-main);
    background: var(--color-second);
    border-radius: var(--border-radius-x3) 0 var(--border-radius-x3) 0;

    &::before {
      content: '';
      position: absolute;
      top: torem(-15);
      right: 0;
      width: 50%;
      height: torem(20);
      background: var(--color-second);
      border-radius: var(--border-radius-x3) var(--border-radius-x3) 0 0;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: torem(-15);
      width: 40%;
      height: torem(20);
      background: var(--color-second);
      border-radius: 0 0 var(--border-radius-x3) var(--border-radius-x3);
    }
  }

  &__aside {
    @include _768 {
      padding: 0 var(--a-padding-x8);
    }
    @include _1440 {
      margin: 0;
      padding: var(--a-padding-x8);
    }

    position: relative;
    margin-top: torem(50);
    padding: 0 var(--a-padding-x4);

    &-content {
      position: relative;
      z-index: 2;
    }

    &-decoration {
      @include _1440 {
        position: absolute;
        top: 50%;
        display: block;
        width: torem(300);
        height: torem(300);
        background: var(--color-orange);
        border-radius: 50%;
        transform: translateY(-70%);
      }

      display: none;
    }
  }

  &__title {
    color: var(--color-main);
  }

  &__description {
    color: var(--color-main);
  }
}
