// Circe
@font-face {
  font-family: Circe;
  src: url('/fonts/circe-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Circe;
  src: url('/fonts/circe-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Circe;
  src: url('/fonts/circe-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// RF Dewi Expanded
@font-face {
  font-family: 'RF Dewi Expanded';
  src: url('/fonts/rfdewiexpanded-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src: url('/fonts/rfdewiexpanded-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src: url('/fonts/rfdewiexpanded-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src: url('/fonts/rfdewiexpanded-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src: url('/fonts/rfdewiexpanded-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src: url('/fonts/rfdewiexpanded-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Ethnocentric RUS-LAT Extra-expanded
@font-face {
  font-family: 'Ethnocentric RUS-LAT';
  src: url('/fonts/ethnocentricrus-lat-extra-expandedregular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
